<link rel="stylesheet" href="/stylesheets/index.css" />
<% layout('layouts/boilerplate') %>

<span class="text-dark"
  ><a class="btn btn-outline-secondary btn-rounded" href="/destinations/new"
    >Add a destination</a
  ></span
>

<div class="row text-center flex-wrap">
  <% destinations.forEach(function(destination){ %>
  <div class="col-md-3 col-sm-6">
    <div class="thumbnail">
      <img src="<%= destination.images[0].url %>" />
      <div class="caption">
        <h4><%= destination.location %></h4>
      </div>

      <p>
        <a
          href="/destinations/<%= destination._id %>"
          class="btn btn-success btn-sm"
          >More Info</a
        >
      </p>
    </div>
  </div>
  <% }); %>
</div>
