<% layout('layouts/boilerplate') %>
<div class="row">
  <h1 class="text-center">New Destination</h1>
  <div class="col-6 offset-3">
    <form
      action="/destinations"
      method="POST"
      novalidate
      class="validated-form"
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label class="form-label" for="title">Title</label>
        <input
          class="form-control"
          type="text"
          id="title"
          name="destination[title]"
          required
        />
      </div>
      <div class="mb-3">
        <label class="form-label" for="location">Location</label>
        <input
          class="form-control"
          type="text"
          id="location"
          name="destination[location]"
          required
        />
      </div>

      <div class="mb-3">
        <label for="image" class="form-label">Upload images</label>
        <input
          class="form-control"
          type="file"
          name="image"
          id="image"
          multiple
        />
      </div>
      <div class="mb-3">
        <label class="form-label" for="description">Description</label>
        <textarea
          class="form-control"
          type="text"
          id="description"
          name="destination[description]"
          required
        ></textarea>
      </div>
      <div class="mb-3">
        <button class="btn btn-success">Add Destination</button>
      </div>
    </form>
    <a href="/destinations">All Destinations</a>
  </div>
</div>
