<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=, initial-scale=1.0" />
    <title>Show</title>
  </head>
  <body>
    <h1><%=destination.title%></h1>
    <h2><%=destination.location%></h2>
    <p>
      <a href="/destinations/<%=destination._id%>/edit">Edit</a>
    </p>
    <p>
        <form action="/destinations/<%=destination._id%>?_method=DELETE" method="POST">
            <button>Delete</button>
        </form>
        </p>
    <footer>
      <a href="/destinations">All Destinations</a>
    </footer>
  </body>
</html>
